body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid #ccc;
}

.logo-img {
    width: 50px; /* ajustar según prefieras */
    margin-right: 15px;
}

#logo-btn img {
    width: 50px; /* ajusta el valor según la preferencia */
    height: auto;
    margin-right: 10px; /* espacio a la derecha del botón */
    vertical-align: middle;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px; /* Ajustar si se necesita más espacio alrededor de los enlaces */
}

/* ... (resto del código anterior) ... */

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas con igual ancho */
    gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}

.image-cell img {
    width: 100%;
    height: auto;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr; /* Solo 1 columna en dispositivos móviles */
    }
}


.image-container {
    flex: 1 0 calc(33.33% - 10px); /* 3 imágenes por fila. Ajusta según prefieras */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

