body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    border-bottom: 1px solid #ccc;
}



header h1 {
    margin: 0;
    margin-right: 50px; 
    padding: 0;
    font-size: 2em;  /* Ajusta según prefieras */
    flex-grow: 2;  /* Hace que el título ocupe todo el espacio disponible */
    text-align: left;
}

.logo-img {
    width: 50px; /* ajustar según prefieras */
    margin-right: 15px;
}

#logo-btn img {
    width: 50px; /* ajusta el valor según la preferencia */
    height: auto;
    margin-right: 10px; /* espacio a la derecha del botón */
    vertical-align: middle;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.5em; /* Ajusta este valor según lo que necesites */
    color: #333;
    padding: 5px 10px; /* Ajustar si se necesita más espacio alrededor de los enlaces */
}

/* ... (resto del código anterior) ... */

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas con igual ancho */
    gap: 40px;
    max-width: 90%;
    margin: 0 auto;
}

.image-cell img {
    width: 100%;
    height: auto;
}

.image-grid img {
    transition: transform 0.3s ease; /* Esto añade una transición suave al efecto de ampliación */
}

.image-grid img:hover {
    transform: scale(1.05); /* Aquí, 1.1 indica que la imagen se ampliará un 10%. Puedes ajustar este valor según tus preferencias. */
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr; /* Solo 1 columna en dispositivos móviles */
    }
}

#contacto {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

#map {
    width: 100%;
    height: 400px;
}

.form-container {
    width: 50%;       /* Ocupa la mitad del ancho de su contenedor padre */
    max-width: 600px; /* Ancho máximo, puedes ajustar a tu preferencia */
    margin: 0 auto;   /* Centra el contenedor horizontalmente */
    padding: 20px;    /* Espaciado interno para que no esté todo pegado al borde */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra opcional para darle un poco de profundidad */
}

#image-window-container {
    text-align: center;
}

#image-window {
    max-width: 100%;
    max-height: 100vh; /* Ajusta la altura máxima según tus necesidades */
    display: inline-block; /* Centra la imagen horizontalmente */
}

/* Estilos específicos para la imagen en grande */
/* Puedes personalizar estos estilos según tus preferencias */
#image-window-container {
    border: 2px solid #333;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#image-window {
    display: block;
    margin: 0 auto;
}